body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #fff;
}

a, a:active, a:visited {
    color: #d1dcff;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section {
    box-sizing: border-box;
    width: 50%;
    min-width: 640px;
    margin: 0 auto;
    padding: 1em;
    margin-top: 1em;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}